/* colors*/
$colorFacebook:#3b5998;
$colorGithub:#333;
$colorLinkedin:#007bb6;
$colorTwitter:#00aced;
$colorBlog:#e17b77;

/* -- mixIn ---*/
@mixin box-shadow {
    -webkit-box-shadow: 13px 14px 11px -9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 13px 14px 11px -9px rgba(0, 0, 0, 0.3);
    box-shadow: 13px 14px 11px -9px rgba(0, 0, 0, 0.3);
}

@mixin absolute-position {
    position: absolute;
    bottom: -80%;
    left: 20%;
    right: 20%;
}

@mixin flex-column-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

@mixin flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --  keyFrames--- */

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pushBar {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-360px);
    }
}