/*Global*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
}

h2,
p,
a {
    font-family: 'Krub', sans-serif;
}

h3 {
    font-family: 'Special Elite', cursive;
}

body {
    background: #c3cfe2;
    position: relative;
    overflow-x: hidden;
}