/* Pick any color you like*/
/*header**/
$headerBackground:#686ce04f;
$headerTitle:#686de0;
$headerBorder:black;

/*main* Card*/
$cardBorder:white;
$cardBackground:white;
$cardTitle:white;
$cardText:gray;
$cardFooter:#686de0;
$cardLink:rgba(255, 255, 255, 0.514);
/*main* photoHover*/
$pictureBackground:rgb(77, 81, 92);
$btnBorder:#686de0;
$btnBackground:rgb(65, 68, 107);
$btnLink:white;

/*Footer*/
$footerBackground:#686ce04f;
$footerTitle:rgba(255, 255, 255, 0.658);
$footerDiscription:rgba(0, 0, 0, 0.658);