/* 1.5 - Media Queries ---------------*/

@media (min-width:900px) {
    .header {
        text-align: center;
        padding: 100px 0;


        &__title {
            font-size: 60px;
            letter-spacing: 5px;
        }

        &__discription {
            font-size: 40px;
        }
    }

    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto);

        &__center-wrap {
            padding-bottom: 15px;
        }
    }
}

@media (min-width:1400px) {
    .header {
        text-align: center;
        padding: 100px 0;


        &__title {

            font-size: 75px;
            letter-spacing: 5px;
        }

        &__discription {
            font-size: 50px;
        }
    }

    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto);

        &__center-wrap {
            padding-bottom: 15px;
        }

    }
}